<% layout("/layouts/boilerplate.ejs") %>

  <body>
    <div class="row new">
      <div class="col-8 offset-2">
        <h3>Edit your Listing</h3>
        <form class="needs-validation" method="POST" action="/listing/<%= listing._id %>?_method=PUT" enctype="multipart/form-data" novalidate>
          <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input class="form-control" name="listing[title]" value="<%= listing.title %>" type="text" required/>
            <div class="valid-feedback">title looks good!</div>
          </div><br>
          <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea class="form-control" name="listing[description]" required>
      <%= listing.description %></textarea>
          </div><br>
          <div class="mb-3">
            original listing image <br />
          <img height="200px" width="300px" src="<%= originalImageUrl %>" alt="">
          </div><br>
          <div class="mb-3">
            <label for="image" class="form-label">Upload new Image </label>
            <input class="form-control" name="listing[image]" type="file"/>
          </div><br>
          <div class="mb-3">
            <label for="price" class="form-label">Price</label>
            <input class="form-control" name="listing[price]" value="<%= listing.price %>" type="number"required />
            <div class="invalid-feedback">please enter a valid price</div>
          </div><br>
          <div class="mb-3">
            <label for="country" class="form-label">Country</label>
            <input class="form-control" name="listing[country]" value="<%= listing.country %>" type="text" required/>
            <div class="invalid-feedback">please enter the country name</div>

          </div><br>
          <div class="mb-3">
            <label for="location" class="form-label">Location</label>
            <input class="form-control" name="listing[location]" value="<%= listing.location %>" type="text" required/>
            <div class="invalid-feedback">please enter the location</div>

          </div><br>
          <center><button class="btn btn-dark add-btn">Edit</button></center><br>
        </form>
      </div>
    </div>
  </body>